<h1 class="text-center contact-space">Contact Us</h1>
<%= form_for @contact, url: main_app.contact_us_path do |f| %>
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-4 col-md-6 form-group">
        <%= f.label :first_name, class: 'contact-labels' %>
        <%= f.text_field :first_name, class: 'form-control', required: true %>
      </div>
      <div class="col-lg-4 col-md-6 form-group">
        <%= f.label :last_name, class: 'contact-labels' %>
        <%= f.text_field :last_name, class: 'form-control', required: true %>
      </div>
      <% unless spree_user_signed_in? %>
        <div class="offset-lg-2 col-lg-8 col-md-12 form-group">
          <%= f.label :email, class: 'contact-labels' %>
          <%= f.email_field :email, class: 'form-control', required:true %>
        </div>
      <% end %>
      <div class="offset-lg-2 col-lg-8 col-md-12 form-group">
        <%= f.label :message, class: 'contact-labels' %>
        <%= f.text_area :message, class: 'form-control textarea-space', required: true %>
      </div>
      <div class="offset-lg-2 col-lg-8 col-md-12 form-group text-center">
        <%= f.submit "Let's talk", class: 'btn btn-lg btn-block btn-primary font-weight-bold contact-msg-btn' %>
      </div>
    </div>
  </div>
<% end %>
