<% if section.gutters? %>
  <% section_padding = 'px-3' %>
<% else %>
  <% section_padding = 'px-0' %>
<% end %>

<div class="col-12 <%= section_padding %>">
  <div class="text-center homepage-fashion-trends-box">
    <% if section.title.present? %>
      <div class="homepage-fashion-trends-box-summer-text mb-3 featured-section-title"><%= section.title %></div>
    <% end %>

    <% if section.subtitle.present? %>
      <div class="homepage-fashion-trends-box-fashion-trends-text mb-4"><h2 class="featured-subtitle"><%= section.subtitle %></h2></div>
    <% end %>

    <div class="homepage-fashion-trends-box-description-text text-center mb-3">
      <% if section.button_text.present? && section.link.present? %>
        <%= link_to section.button_text, spree_localized_link(section), class: 'btn text-center spree-btn btn-outline-primary w-md-50 mb-3 featured-btn' %>
      <% end %>
      <div class="mb-3 featured-content">
        <%= raw section.rte_content %>
      </div>
    </div>
  </div>
</div>
